.custom-body {
    background-color: #000000;
}


.hp-model-name {
    font-family: 'AmericanCaptain';
    letter-spacing: 7px;
    text-align: center;
    color: #ffffff;
}


.slider-container {
    text-align: center;
}


.gif-loading-container {
    text-align: center;
    width: 100%;
    margin-top: 15%;
}

#gif-loading {
    width: 90px;
}


.img-laptop {
    position: absolute;
    width: 100%;
}

.img-laptop-container {
    position: relative;
    left: 0;
    top: 30px;
    width: 80%;
    opacity: 0;
    filter: brightness(80%);
    display: none;
}



@font-face {
    font-family: 'AmericanCaptain';
    src: url('fonts/AmericanCaptain.otf');
}